.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
}

.l-grid {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;

  @include media($min-lg) {
    grid-template-columns: 1fr 1100px 1fr;
  }
}
